

/*doc
---
title: Buttons
name: button
category: Base CSS
---

Button styles can be applied to any element. Typically you'll want to
use either a `<button>` or an `<a>` element:

```html_example
<button class="btn btnDefault">Click</button>
<a class="btn btnPrimary" href="http://trulia.com">Trulia!</a>
```

*/

.your-component-here {
  display: block;
}


/*doc
---
title: Tables
name: tables
category: Base CSS
---

Button styles can be applied to any element. Typically you'll want to
use either a `<button>` or an `<a>` element:

```html_example
<table>
  <tr>
    <td>Hello</td>
  </tr>
</table>
```

*/

.your-component-here {
  display: block;
}
