/*doc
---
title: Header
name: header
category: Components
---

This is the site header style:

```html_example
<header>This is a site header</header>
```

*/

header {
  background: linear-gradient(to bottom, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  display: block;
  padding: 10px 20px;
  margin-bottom: 20px;
}
