{{> layout/html-header}}

<!-- Your HTML here -->
{{> partials/header}}
<h1>Title 01 Heading</h1>
Hello world
<a href="#">click me!!</a>

<div class="tile">
  <img src="http://placehold.it/350x350" alt="">
</div>

{{> partials/footer}}
{{> layout/html-footer}}
