<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- SEO -->

    <title>__PAGE_TITLE__</title>
    <meta name="description" content="__PAGE_DESCRIPTION__">
    <meta name="keywords" content="__PAGE_KEYWORDS__">
    <meta name="author" content="__PAGE_AUTHOR__">

    <!-- Spiders must use meta description -->

    <meta name="robots" content="noodp, noydir">

    <!-- No Google Translate toolbar -->

    <meta name="google" content="notranslate">

    <!-- Viewport and mobile -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="320">
    <meta http-equiv="cleartype" content="on">

    {{> layout/html-favicon}}


    <!-- inject:css --><!-- endinject -->

    <!--[if lt IE 9]>-->
    <!--<script src="assets/js/ie.head.min.js"></script>
    <link rel="stylesheet" href="assets/css/ie.min.css">-->
    <!--<![endif]-->
  </head>
  <body>

